HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
src/main/resources/Wallet_orcl2/adrci
src/main/resources/Wallet_orcl2/BASIC_LICENSE
src/main/resources/Wallet_orcl2/BASIC_LICENSE.txt
src/main/resources/Wallet_orcl2/BASIC_README
src/main/resources/Wallet_orcl2/Bugs-fixed-in-216-PatchedRelease.txt
src/main/resources/Wallet_orcl2/cwallet.sso
src/main/resources/Wallet_orcl2/dms.jar
src/main/resources/Wallet_orcl2/ewallet.p12
src/main/resources/Wallet_orcl2/ewallet.pem
src/main/resources/Wallet_orcl2/genezi
src/main/resources/Wallet_orcl2/install_ic.sh
src/main/resources/Wallet_orcl2/INSTALL_IC_README.txt
src/main/resources/Wallet_orcl2/JDBC-Javadoc-21c.jar
src/main/resources/Wallet_orcl2/Jdbc_Readme.txt
src/main/resources/Wallet_orcl2/keystore.jks
src/main/resources/Wallet_orcl2/libclntsh.dylib
src/main/resources/Wallet_orcl2/libclntsh.dylib.10.1
src/main/resources/Wallet_orcl2/libclntsh.dylib.11.1
src/main/resources/Wallet_orcl2/libclntsh.dylib.12.1
src/main/resources/Wallet_orcl2/libclntsh.dylib.18.1
src/main/resources/Wallet_orcl2/libclntsh.dylib.19.1
src/main/resources/Wallet_orcl2/libclntshcore.dylib.19.1
src/main/resources/Wallet_orcl2/libnnz19.dylib
src/main/resources/Wallet_orcl2/libocci.dylib
src/main/resources/Wallet_orcl2/libocci.dylib.10.1
src/main/resources/Wallet_orcl2/libocci.dylib.11.1
src/main/resources/Wallet_orcl2/libocci.dylib.12.1
src/main/resources/Wallet_orcl2/libocci.dylib.18.1
src/main/resources/Wallet_orcl2/libocci.dylib.19.1
src/main/resources/Wallet_orcl2/libociei.dylib
src/main/resources/Wallet_orcl2/libocijdbc19.dylib
src/main/resources/Wallet_orcl2/liboramysql19.dylib
src/main/resources/Wallet_orcl2/network/admin/cwallet.sso
src/main/resources/Wallet_orcl2/network/admin/ewallet.p12
src/main/resources/Wallet_orcl2/network/admin/ewallet.pem
src/main/resources/Wallet_orcl2/network/admin/keystore.jks
src/main/resources/Wallet_orcl2/network/admin/ojdbc.properties
src/main/resources/Wallet_orcl2/network/admin/README
src/main/resources/Wallet_orcl2/network/admin/sqlnet.ora
src/main/resources/Wallet_orcl2/network/admin/tnsnames.ora
src/main/resources/Wallet_orcl2/network/admin/truststore.jks
src/main/resources/Wallet_orcl2/ojdbc.policy
src/main/resources/Wallet_orcl2/ojdbc.properties
src/main/resources/Wallet_orcl2/ojdbc8 2.jar
src/main/resources/Wallet_orcl2/ojdbc8.jar
src/main/resources/Wallet_orcl2/ojdbc8_g.jar
src/main/resources/Wallet_orcl2/ojdbc8dms.jar
src/main/resources/Wallet_orcl2/ojdbc8dms_g.jar
src/main/resources/Wallet_orcl2/ons.jar
src/main/resources/Wallet_orcl2/oraclepki.jar
src/main/resources/Wallet_orcl2/orai18n.jar
src/main/resources/Wallet_orcl2/osdt_cert.jar
src/main/resources/Wallet_orcl2/osdt_core.jar
src/main/resources/Wallet_orcl2/README
src/main/resources/Wallet_orcl2/README.txt
src/main/resources/Wallet_orcl2/rsi-Javadoc-21c.jar
src/main/resources/Wallet_orcl2/rsi.jar
src/main/resources/Wallet_orcl2/simplefan-Javadoc-21c.jar
src/main/resources/Wallet_orcl2/simplefan.jar
src/main/resources/Wallet_orcl2/sqlnet.ora
src/main/resources/Wallet_orcl2/tnsnames.ora
src/main/resources/Wallet_orcl2/truststore.jks
src/main/resources/Wallet_orcl2/ucp 2.jar
src/main/resources/Wallet_orcl2/ucp-Javadoc-21c.jar
src/main/resources/Wallet_orcl2/ucp.jar
src/main/resources/Wallet_orcl2/UCP_Readme.txt
src/main/resources/Wallet_orcl2/uidrvci
src/main/resources/Wallet_orcl2/xdb-Javadoc-21c.jar
src/main/resources/Wallet_orcl2/xdb.jar
src/main/resources/Wallet_orcl2/xmlparserv2-Javadoc-21c.jar
src/main/resources/Wallet_orcl2/xmlparserv2.jar
src/main/resources/Wallet_orcl2/xmlparserv2_sans_jaxp_services.jar
src/main/resources/Wallet_orcl2/xstreams.jar
