HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
src/main/resources/Wallet_orcl/adrci
src/main/resources/Wallet_orcl/BASIC_LICENSE
src/main/resources/Wallet_orcl/BASIC_LICENSE.txt
src/main/resources/Wallet_orcl/BASIC_README
src/main/resources/Wallet_orcl/Bugs-fixed-in-216-PatchedRelease.txt
src/main/resources/Wallet_orcl/cwallet.sso
src/main/resources/Wallet_orcl/dms.jar
src/main/resources/Wallet_orcl/ewallet.p12
src/main/resources/Wallet_orcl/ewallet.pem
src/main/resources/Wallet_orcl/genezi
src/main/resources/Wallet_orcl/install_ic.sh
src/main/resources/Wallet_orcl/INSTALL_IC_README.txt
src/main/resources/Wallet_orcl/JDBC-Javadoc-21c.jar
src/main/resources/Wallet_orcl/Jdbc_Readme.txt
src/main/resources/Wallet_orcl/keystore.jks
src/main/resources/Wallet_orcl/libclntsh.dylib
src/main/resources/Wallet_orcl/libclntsh.dylib.10.1
src/main/resources/Wallet_orcl/libclntsh.dylib.11.1
src/main/resources/Wallet_orcl/libclntsh.dylib.12.1
src/main/resources/Wallet_orcl/libclntsh.dylib.18.1
src/main/resources/Wallet_orcl/libclntsh.dylib.19.1
src/main/resources/Wallet_orcl/libclntshcore.dylib.19.1
src/main/resources/Wallet_orcl/libnnz19.dylib
src/main/resources/Wallet_orcl/libocci.dylib
src/main/resources/Wallet_orcl/libocci.dylib.10.1
src/main/resources/Wallet_orcl/libocci.dylib.11.1
src/main/resources/Wallet_orcl/libocci.dylib.12.1
src/main/resources/Wallet_orcl/libocci.dylib.18.1
src/main/resources/Wallet_orcl/libocci.dylib.19.1
src/main/resources/Wallet_orcl/libociei.dylib
src/main/resources/Wallet_orcl/libocijdbc19.dylib
src/main/resources/Wallet_orcl/liboramysql19.dylib
src/main/resources/Wallet_orcl/network/admin/cwallet.sso
src/main/resources/Wallet_orcl/network/admin/ewallet.p12
src/main/resources/Wallet_orcl/network/admin/ewallet.pem
src/main/resources/Wallet_orcl/network/admin/keystore.jks
src/main/resources/Wallet_orcl/network/admin/ojdbc.properties
src/main/resources/Wallet_orcl/network/admin/README
src/main/resources/Wallet_orcl/network/admin/sqlnet.ora
src/main/resources/Wallet_orcl/network/admin/tnsnames.ora
src/main/resources/Wallet_orcl/network/admin/truststore.jks
src/main/resources/Wallet_orcl/ojdbc.policy
src/main/resources/Wallet_orcl/ojdbc.properties
src/main/resources/Wallet_orcl/ojdbc8 2.jar
src/main/resources/Wallet_orcl/ojdbc8.jar
src/main/resources/Wallet_orcl/ojdbc8_g.jar
src/main/resources/Wallet_orcl/ojdbc8dms.jar
src/main/resources/Wallet_orcl/ojdbc8dms_g.jar
src/main/resources/Wallet_orcl/ons.jar
src/main/resources/Wallet_orcl/oraclepki.jar
src/main/resources/Wallet_orcl/orai18n.jar
src/main/resources/Wallet_orcl/osdt_cert.jar
src/main/resources/Wallet_orcl/osdt_core.jar
src/main/resources/Wallet_orcl/README
src/main/resources/Wallet_orcl/README.txt
src/main/resources/Wallet_orcl/rsi-Javadoc-21c.jar
src/main/resources/Wallet_orcl/rsi.jar
src/main/resources/Wallet_orcl/simplefan-Javadoc-21c.jar
src/main/resources/Wallet_orcl/simplefan.jar
src/main/resources/Wallet_orcl/sqlnet.ora
src/main/resources/Wallet_orcl/tnsnames.ora
src/main/resources/Wallet_orcl/truststore.jks
src/main/resources/Wallet_orcl/ucp 2.jar
src/main/resources/Wallet_orcl/ucp-Javadoc-21c.jar
src/main/resources/Wallet_orcl/ucp.jar
src/main/resources/Wallet_orcl/UCP_Readme.txt
src/main/resources/Wallet_orcl/uidrvci
src/main/resources/Wallet_orcl/xdb-Javadoc-21c.jar
src/main/resources/Wallet_orcl/xdb.jar
src/main/resources/Wallet_orcl/xmlparserv2-Javadoc-21c.jar
src/main/resources/Wallet_orcl/xmlparserv2.jar
src/main/resources/Wallet_orcl/xmlparserv2_sans_jaxp_services.jar
src/main/resources/Wallet_orcl/xstreams.jar
