<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ade.portfolio.main.mapper.MainMapper">

    <select id="selectTopInfo" parameterType="hashmap" resultType="hashmap">
        SELECT  BASE_DATE                                                       AS BASE_DATE
        ,       TOT_BUY_AMT                                                     AS TOT_EST_AMT
        ,       TOT_EST_AMT                                                     AS TOT_EST_AMT
        ,       NVL(FUNC_GET_EXRT(TO_CHAR(SYSDATE, 'YYYYMMDD'), 'USD', 1), 0)   AS EXRT_DATE
        ,       FUNC_RN(YIELD , 3) * 100                                        AS YIELD
        FROM    ADESTM
        WHERE   BASE_DATE = (SELECT MAX(EE.BASE_DATE) FROM ADESTM EE)
    </select>

    <select id="selectItemChart" parameterType="hashmap" resultType="hashmap">
        SELECT  B.BASE_DATE                             AS BASE_DATE
        ,      	B.STND_ITEM_C                           AS STND_ITEM_C
        ,      	I.ITEM_SHORT                            AS ITEM_SHORT
        ,      	FUNC_RN((B.BUY_AMT * B.QUANTITY) , 2)   AS BUY_AMT
        ,      	FUNC_RN((B.EST_AMT * B.QUANTITY) , 2)   AS EST_AMT
        FROM    ADBASE  B
        ,      	ADITEM  I
        WHERE   B.BASE_DATE    = (SELECT MAX(BB.BASE_DATE) FROM ADBASE BB)
        AND     B.STND_ITEM_C  = I.STND_ITEM_C
    </select>

    <select id="selectBaseChart" parameterType="hashmap" resultType="hashmap">
        /* 총 잔고금액(차트) */
        SELECT  FUNC_CONV_DATE(BASE_MONTH, '-', 'B')                        AS BASE_MONTH
        ,       FUNC_RN(TOT_AMT/1000, 0)                                    AS TOT_AMT
        ,       FUNC_RN(TOT_ESTM_AMT /1000, 0)                              AS TOT_ESTM_AMT
        ,       FUNC_RN((TOT_ESTM_AMT - TOT_AMT) / TOT_ESTM_AMT * 100, 2)   AS YIELD
        FROM
        (
            SELECT  S.BASE_MONTH                                                                        AS BASE_MONTH
            ,       FUNC_GET_EXRT(TO_CHAR(SYSDATE, 'YYYYMMDD'), 'USD', S.TOT_AMT) + P.TOT_AMT           AS TOT_AMT
            ,       FUNC_GET_EXRT(TO_CHAR(SYSDATE, 'YYYYMMDD'), 'USD', S.TOT_ESTM_AMT) + P.TOT_ESTM_AMT AS TOT_ESTM_AMT
            FROM
            (
                SELECT  BASE_MONTH              AS BASE_MONTH
                ,       SUM(B.TOT_AMT)          AS TOT_AMT
                ,       SUM(B.TOT_ESTM_AMT)     AS TOT_ESTM_AMT
                FROM    ADBSRT   B
                ,       ADITEM    I
                WHERE   B.STND_ITEM_C = I.STND_ITEM_C
                AND     I.ASTS_GD_TC  IN (SELECT CODE FROM ADCDGR WHERE CODE_GROUP = 'STCK')
                GROUP BY BASE_MONTH
                ORDER BY BASE_MONTH
            )   S,
            (
                SELECT  BASE_MONTH              AS BASE_MONTH
                ,       SUM(B.TOT_AMT)          AS TOT_AMT
                ,       SUM(B.TOT_ESTM_AMT)     AS TOT_ESTM_AMT
                FROM    ADBSRT  B
                ,       ADITEM  I
                WHERE   B.STND_ITEM_C = I.STND_ITEM_C
                AND     I.ASTS_GD_TC  IN (SELECT CODE FROM ADCDGR WHERE CODE_GROUP = 'FUND')
                GROUP BY BASE_MONTH
                ORDER BY BASE_MONTH
            )   P
            WHERE    S.BASE_MONTH = P.BASE_MONTH
        )
    </select>

    <select id="selectRatioChart" parameterType="hashmap" resultType="hashmap">
        /* 종목비율(차트) */
        SELECT  B.BASE_MONTH                    AS BASE_MONTH
        ,       B.STND_ITEM_C                   AS STND_ITEM_C
        ,       I.ITEM_SHORT                    AS ITEM_SHORT
        ,       FUNC_RN(B.ESTM_RATIO, 3) * 100  AS ESTM_RATIO
        FROM    ADBSRT  B
        ,       ADITEM  I
        WHERE   B.BASE_MONTH   = (SELECT MAX(BB.BASE_MONTH) FROM ADBSRT BB)
        AND     B.STND_ITEM_C  = I.STND_ITEM_C
        AND     I.ASTS_GD_TC   IN ('S', 'E')
    </select>

    <select id="selectFundRatioChart" parameterType="hashmap" resultType="hashmap">
        /* 펀드비율(차트) */
        SELECT  B.BASE_MONTH                    AS BASE_MONTH
        ,       B.STND_ITEM_C                   AS STND_ITEM_C
        ,       I.ITEM_SHORT                    AS ITEM_SHORT
        ,       FUNC_RN(B.ESTM_RATIO, 3) * 100  AS ESTM_RATIO
        FROM    ADBSRT  B
        ,       ADITEM  I
        WHERE   B.BASE_MONTH  = (SELECT MAX(BB.BASE_MONTH) FROM ADBSRT BB)
        AND     B.STND_ITEM_C = I.STND_ITEM_C
        AND     I.ASTS_GD_TC  IN ('P', 'R')
    </select>

    <select id="selectItemList" parameterType="hashmap" resultType="hashmap">
        WITH ITEMLIST AS
        (
            SELECT  B.BASE_DATE                                                         AS BASE_DATE
            ,       B.STND_ITEM_C                                                       AS STND_ITEM_C
            ,       I.ITEM_SHORT                                                        AS ITEM_SHORT
            ,       FUNC_GET_EXRT(B.BASE_DATE, 'USD', FUNC_RN(B.BUY_AMT * QUANTITY, 2)) AS BUY_AMT
            ,       FUNC_GET_EXRT(B.BASE_DATE, 'USD', FUNC_RN(B.EST_AMT * QUANTITY, 2)) AS EST_AMT
            ,       FUNC_RN(B.YIELD * 100, 2)           AS YIELD
            FROM    ADITEM    I
            ,       ADBASE    B
            WHERE   I.STND_ITEM_C = B.STND_ITEM_C
            AND     B.BASE_DATE   = (SELECT MAX(BB.BASE_DATE) FROM ADBASE BB)
            UNION ALL
            SELECT  F.BASE_DATE                         AS BASE_DATE
            ,       F.STND_ITEM_C                       AS STND_ITEM_C
            ,       I.ITEM_SHORT                        AS ITEM_SHORT
            ,       F.TOT_BUY_AMT                       AS TOT_BUY_AMT
            ,       F.TOT_EST_AMT                       AS TOT_EST_AMT
            ,       FUNC_RN(F.YIELD * 100, 2)           AS YIELD
            FROM    ADITEM    I
            ,       ADFUND    F
            WHERE   I.STND_ITEM_C = F.STND_ITEM_C
            AND     F.BASE_DATE   = (SELECT MAX(FF.BASE_DATE) FROM ADFUND FF)
        )
        SELECT  *
        FROM    ITEMLIST
    </select>

    <insert id="PROC_TRIS_TO_TRIS" parameterType="hashmap" statementType="CALLABLE">
        {   CALL  PROC_TRIS_TO_TRIS
            (
                #{TR_DATE       , mode=IN, jdbcType=CHAR}   ,
                #{STND_ITEM_C   , mode=IN, jdbcType=VARCHAR},
                #{TR_PRICE      , mode=IN, jdbcType=INTEGER},
                #{TR_QUANTITY   , mode=IN, jdbcType=INTEGER}
            )
        }
    </insert>
</mapper>
